# DVD rental analysis

### We use a sample postgreSQL database to analyze DVD rentals over time. 

##### For this exercise, we have set up a postgreSQL database, and imported a sample database that covers DVD rentals. 

The DVD relational database has 15 tables, representing DVD rental behavior by various dimensions and metrics. These tables provide insight into the customers, staff, movie titles and rental time periods. 

In this Jupyter notebook, we will focus on using SQL to transform, explore and summarize this information. We will 
then store this information in pandas dataframes, in order to produce summary statistics and graphical represenations of the data using matplotlib.

---

### The following cells exist to install necessary modules and functionalities for quering a postgresQL database within a Jupyter notebook.

In [32]:
# Installing sqlalchemy, a library to interact with various databases (including postgreSQL)
!pip install sqlalchemy

# Install necessary postgres module to work interface with sqlalchemy
!pip install psycopg2

# Install ipython-sql to enable magic command querying through sqlalchemy
!pip install ipython-sql

Requirement already satisfied: sqlalchemy in ./lib/python3.9/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in ./lib/python3.9/site-packages (from sqlalchemy) (2.0.1)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Users/tylerstevenson/Portfolio/portfolio_database/bin/python3 -m pip install --upgrade pip' command.
Requirement already satisfied: psycopg2 in ./lib/python3.9/site-packages (2.9.5)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Users/tylerstevenson/Portfolio/portfolio_database/bin/python3 -m pip install --upgrade pip' command.
Requirement already satisfied: ipython-sql in ./lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in ./lib/python3.9/site-packages (from ipython-sql) (8.8.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in ./lib/python3.9/site-packages (from ipython-sql) (1.4.46)
Requirement already satisfied: prettytable<1 in ./lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in ./lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in ./lib/python3.9/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: decorator in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: pexpect>4.3 in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments>=2.4.0 in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: jedi>=0.16 in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: traitlets>=5 in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.8.0)
Requirement already satisfied: appnope in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pickleshare in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in ./lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in ./lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in ./lib/python3.9/site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing>=1.2.0 in ./lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in ./lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in ./lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.1)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Users/tylerstevenson/Portfolio/portfolio_database/bin/python3 -m pip install --upgrade pip' command.

In [3]:
# Importing necessary packages to query our postgresql database

import sqlalchemy
import psycopg2

# ipython-sql does not need to be imported like the other modules - it enables magic commands in jupyter notebook,
#  to run SQL within a code cell

# import ipython-sql

In [4]:
# Define endpoint for sqlalchemy.engine to interface with postgres

engine = sqlalchemy.create_engine('postgresql://postgres:W4ac8s-Dkpth@localhost:5432/dvdrental')

In [5]:
# Loading magic commands from ipython-sql, and necessary parameters for querying the database through sqlalchemy

%load_ext sql
%sql $engine.url

In [34]:
%%sql

-- Testing SQL connection

SELECT actor_id, first_name
from actor
WHERE first_name = 'Ed'

 * postgresql://postgres:***@localhost:5432/dvdrental
3 rows affected.

[(3, 'Ed'), (136, 'Ed'), (179, 'Ed')]

----

### Our next block of cells will focus on some exploratory work with the DVD rental database. 
###### We will experiement with the tables available, to understand more about their makeup. We can use this exploratory exercise to plan some deeper dives in a later analysis.

In [11]:
%%sql

-- List out all tables that exist in the database

SELECT table_name
FROM information_schema.tables
WHERE table_schema='public'
AND table_type='BASE TABLE';

 * postgresql://postgres:***@localhost:5432/dvdrental
15 rows affected.

[('actor',),
 ('store',),
 ('address',),
 ('category',),
 ('city',),
 ('country',),
 ('customer',),
 ('film_actor',),
 ('film_category',),
 ('inventory',),
 ('language',),
 ('rental',),
 ('staff',),
 ('payment',),
 ('film',)]

In [27]:
%%sql

-- Summarizing the total number of tables available in this database

SELECT count(distinct table_name) as num_tables
FROM information_schema.tables
WHERE 1=1
AND table_schema = 'public'
AND table_type = 'BASE TABLE'

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(15,)]

In [73]:
%%sql

select * from actor limit 5

 * postgresql://postgres:***@localhost:5432/dvdrental
5 rows affected.

[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (3, 'Ed', 'Chase', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (4, 'Jennifer', 'Davis', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (5, 'Johnny', 'Lollobrigida', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

In [74]:
%%sql

select * from rental limit 5

 * postgresql://postgres:***@localhost:5432/dvdrental
5 rows affected.

[(2, datetime.datetime(2005, 5, 24, 22, 54, 33), 1525, 459, datetime.datetime(2005, 5, 28, 19, 40, 33), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (3, datetime.datetime(2005, 5, 24, 23, 3, 39), 1711, 408, datetime.datetime(2005, 6, 1, 22, 12, 39), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (4, datetime.datetime(2005, 5, 24, 23, 4, 41), 2452, 333, datetime.datetime(2005, 6, 3, 1, 43, 41), 2, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (5, datetime.datetime(2005, 5, 24, 23, 5, 21), 2079, 222, datetime.datetime(2005, 6, 2, 4, 33, 21), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (6, datetime.datetime(2005, 5, 24, 23, 8, 7), 2792, 549, datetime.datetime(2005, 5, 27, 1, 32, 7), 1, datetime.datetime(2006, 2, 16, 2, 30, 53))]

In [8]:
%%sql

select table_name, column_name, data_type
from information_schema.columns
where table_name in ('film','inventory','film_actor')
order by table_name, ordinal_position

 * postgresql://postgres:***@localhost:5432/dvdrental
20 rows affected.

[('film', 'film_id', 'integer'),
 ('film', 'title', 'character varying'),
 ('film', 'description', 'text'),
 ('film', 'release_year', 'integer'),
 ('film', 'language_id', 'smallint'),
 ('film', 'rental_duration', 'smallint'),
 ('film', 'rental_rate', 'numeric'),
 ('film', 'length', 'smallint'),
 ('film', 'replacement_cost', 'numeric'),
 ('film', 'rating', 'USER-DEFINED'),
 ('film', 'last_update', 'timestamp without time zone'),
 ('film', 'special_features', 'ARRAY'),
 ('film', 'fulltext', 'tsvector'),
 ('film_actor', 'actor_id', 'smallint'),
 ('film_actor', 'film_id', 'smallint'),
 ('film_actor', 'last_update', 'timestamp without time zone'),
 ('inventory', 'inventory_id', 'integer'),
 ('inventory', 'film_id', 'smallint'),
 ('inventory', 'store_id', 'smallint'),
 ('inventory', 'last_update', 'timestamp without time zone')]

In [35]:
%%sql

-- Joining several tables to determine what the top ranking titles are, in descending order, by count of rentals. 

select film.title
--    , concat(actor.first_name,actor.last_name) as actor_name
    , count(distinct rental_id) as num_rentals
    from film 
    left outer join film_actor
    on film.film_id = film_actor.film_id
    left outer join actor
    on film_actor.actor_id = actor.actor_id
    left outer join inventory
    on film.film_id = inventory.inventory_id
    left outer join rental
    on inventory.inventory_id = rental.inventory_id
group by 1
order by 2 desc

 * postgresql://postgres:***@localhost:5432/dvdrental
1000 rows affected.

[('Doom Dancing', 5),
 ('Silence Kane', 5),
 ('Side Ark', 5),
 ('Double Wrath', 5),
 ('Shawshank Bubble', 5),
 ('Life Twisted', 5),
 ('Velvet Terminator', 5),
 ('Dracula Crystal', 5),
 ('Legally Secretary', 5),
 ('Lawrence Love', 5),
 ('Kramer Chocolate', 5),
 ('Secret Groundhog', 5),
 ('Kiss Glory', 5),
 ('Kill Brotherhood', 5),
 ('Kentuckian Giant', 5),
 ('Jumping Wrath', 5),
 ('Drums Dynamite', 5),
 ('Jingle Sagebrush', 5),
 ('Alone Trip', 5),
 ('Duffel Apocalypse', 5),
 ('Jersey Sassy', 5),
 ('Durham Panky', 5),
 ('Jacket Frisco', 5),
 ('Blade Polish', 5),
 ('Dynamite Tarzan', 5),
 ('Eagles Panky', 5),
 ('Early Home', 5),
 ('Seattle Expecations', 5),
 ('Earth Vision', 5),
 ('Island Exorcist', 5),
 ('School Jacket', 5),
 ('Effect Gladiator', 5),
 ('Ishtar Rocketeer', 5),
 ('Iron Moon', 5),
 ('Savannah Town', 5),
 ('Invasion Cyclone', 5),
 ('Intolerable Intentions', 5),
 ('Insects Stone', 5),
 ('Empire Malkovich', 5),
 ('Innocent Usual', 5),
 ('Saturday Lambs', 5),
 ('Indian Love', 5),
 ('Satisfaction Confidential', 5),
 ('Illusion Amelie', 5),
 ('Bonnie Holocaust', 5),
 ('Vampire Whale', 5),
 ('Escape Metropolis', 5),
 ('Igby Maker', 5),
 ('Hurricane Affair', 5),
 ('Boondock Ballroom', 5),
 ('Hunter Alter', 5),
 ('Hotel Happiness', 5),
 ('Horror Reign', 5),
 ('Hoosiers Birdcage', 5),
 ('Born Spinal', 5),
 ('Holy Tadpole', 5),
 ('Holocaust Highball', 5),
 ('Factory Dragon', 5),
 ('Hawk Chill', 5),
 ('Family Sweet', 5),
 ('Harry Idaho', 5),
 ('Fantasy Troopers', 5),
 ('Happiness United', 5),
 ('Halloween Nuts', 5),
 ('Guys Falcon', 5),
 ('Gunfighter Mussolini', 5),
 ('Gun Bonnie', 5),
 ('Gump Date', 5),
 ('Samurai Lion', 5),
 ('Greek Everyone', 5),
 ('Runner Madigan', 5),
 ('Uptown Young', 5),
 ('Fight Jawbreaker', 5),
 ('Runaway Tenenbaums', 5),
 ('Fire Wolves', 5),
 ('Greedy Roots', 5),
 ('Rules Human', 5),
 ('Grease Youth', 5),
 ('Wrath Mile', 5),
 ('Grail Frankenstein', 5),
 ('Graduate Lord', 5),
 ('Breakfast Goldfinger', 5),
 ('Roof Champion', 5),
 ('Graceland Dynamite', 5),
 ('Unforgiven Zoolander', 5),
 ('Fool Mockingbird', 5),
 ('Gone Trouble', 5),
 ('Goldmine Tycoon', 5),
 ('Forrester Comancheros', 5),
 ('Forward Temple', 5),
 ('Go Purple', 5),
 ('Glass Dying', 5),
 ('Ghost Groundhog', 5),
 ('Gentlemen Stage', 5),
 ('Gathering Calendar', 5),
 ('Garden Island', 5),
 ('Frogmen Breaking', 5),
 ('Uncut Suicides', 5),
 ('Anaconda Confessions', 5),
 ('Working Microcosmos', 5),
 ('Rocky War', 5),
 ('Bubble Grosse', 5),
 ('Bucket Brotherhood', 5),
 ('Road Roxanne', 5),
 ('Tuxedo Mile', 5),
 ('Ridgemont Submarine', 5),
 ('Rider Caddyshack', 5),
 ('Annie Identity', 5),
 ('Wonderful Drop', 5),
 ('Trouble Date', 5),
 ('Resurrection Silverado', 5),
 ('Reservoir Adaptation', 5),
 ('Reign Gentlemen', 5),
 ('Records Zorro', 5),
 ('Treatment Jekyll', 5),
 ('Range Moonwalker', 5),
 ('Anything Savannah', 5),
 ('Canyon Stock', 5),
 ('Caper Motions', 5),
 ('Treasure Command', 5),
 ('Raiders Antitrust', 5),
 ('Translation Summer', 5),
 ('Agent Truman', 5),
 ('Racer Egg', 5),
 ('Tracy Cider', 5),
 ('Casualties Encino', 5),
 ('Quills Bull', 5),
 ('Primary Glass', 5),
 ('Cause Date', 5),
 ('Celebrity Horn', 5),
 ('Center Dinosaur', 5),
 ('Ace Goldfinger', 5),
 ('Chamber Italian', 5),
 ('Poseidon Forever', 5),
 ('Tourist Pelican', 5),
 ('Polish Brooklyn', 5),
 ('Pocus Pulp', 5),
 ('Arizona Bang', 5),
 ('Chasing Fight', 5),
 ('Cheaper Clyde', 5),
 ('Chicago North', 5),
 ('Chicken Hellfighters', 5),
 ('Chill Luck', 5),
 ('Thief Pelican', 5),
 ('Chisum Behavior', 5),
 ('Chitty Lock', 5),
 ('Armageddon Lost', 5),
 ('Pilot Hoosiers', 5),
 ('Pet Haunting', 5),
 ('Cider Desire', 5),
 ('Cincinatti Whisperer', 5),
 ('Peach Innocent', 5),
 ('Paycheck Wait', 5),
 ('Past Suicides', 5),
 ('Army Flintstones', 5),
 ('Paradise Sabrina', 5),
 ('Papi Necklace', 5),
 ('Clones Pinocchio', 5),
 ('Theory Mermaid', 5),
 ('Panther Reds', 5),
 ('Sweet Brotherhood', 5),
 ('Packer Madigan', 5),
 ('Sunrise League', 5),
 ('Straight Hours', 5),
 ('Stone Fire', 5),
 ('Outfield Massacre', 5),
 ('Outbreak Divine', 5),
 ('Whale Bikini', 5),
 ('Oscar Gold', 5),
 ('Operation Operation', 5),
 ('Oklahoma Jumanji', 5),
 ('Stock Glass', 5),
 ('State Wasteland', 5),
 ('October Submarine', 5),
 ('Nuts Ties', 5),
 ('Splendor Patton', 5),
 ('Notting Speakeasy', 5),
 ('Connection Microcosmos', 5),
 ('Newton Labyrinth', 5),
 ('Newsies Story', 5),
 ('Neighbors Charade', 5),
 ('Control Anthem', 5),
 ('Watership Frontier', 5),
 ('Core Suit', 5),
 ('Walls Artist', 5),
 ('Craft Outfield', 5),
 ('Cranes Reservoir', 5),
 ('Natural Stock', 5),
 ('Wagon Jaws', 5),
 ('Creepers Kane', 5),
 ('Musketeers Wait', 5),
 ('Muscle Bright', 5),
 ('Mourning Purple', 5),
 ('Crow Grease', 5),
 ('Moulin Wake', 5),
 ('Motions Details', 5),
 ('Bang Kwai', 5),
 ('Mother Oleander', 5),
 ('Moonwalker Fool', 5),
 ('Spirit Flintstones', 5),
 ('Speed Suit', 5),
 ('Sorority Queen', 5),
 ('Moon Bunch', 5),
 ('Song Hedwig', 5),
 ('Dances None', 5),
 ('Beach Heartbreakers', 5),
 ('Dangerous Uptown', 5),
 ('Volcano Texas', 5),
 ('Monterey Labyrinth', 5),
 ('Darko Dorado', 5),
 ('Monster Spartacus', 5),
 ('Darn Forrester', 5),
 ('Date Speed', 5),
 ('Daughter Madigan', 5),
 ('Something Duck', 5),
 ('Virtual Spoilers', 5),
 ('Mob Duffel', 5),
 ('Minority Kiss', 5),
 ('Bed Highball', 5),
 ('Bedazzled Married', 5),
 ('Snatchers Montezuma', 5),
 ('Million Ace', 5),
 ('Maker Gables', 5),
 ('Magnificent Chitty', 5),
 ('Destination Jerk', 5),
 ('Lovely Jingle', 5),
 ('Details Packer', 5),
 ('Alice Fantasia', 5),
 ('Virgin Daisy', 5),
 ('Smile Earring', 5),
 ('Slums Duck', 5),
 ('Love Suicides', 5),
 ('Lost Bird', 5),
 ('Disturbing Scarface', 5),
 ('Sky Miracle', 5),
 ('Lord Arizona', 5),
 ('Sinners Atlantis', 5),
 ('Bilko Anonymous', 5),
 ('Dogma Family', 5),
 ('Bill Others', 5),
 ('Donnie Alley', 5),
 ('Dragonfly Strangers', 4),
 ('Airplane Sierra', 4),
 ('Amelie Hellfighters', 4),
 ('Analyze Hoosiers', 4),
 ('Anonymous Human', 4),
 ('Apollo Teen', 4),
 ('Arachnophobia Rollercoaster', 4),
 ('Autumn Crow', 4),
 ('Baked Cleopatra', 4),
 ('Balloon Homeward', 4),
 ('Ballroom Mockingbird', 4),
 ('Bear Graceland', 4),
 ('Beauty Grease', 4),
 ('Behavior Runaway', 4),
 ('Beneath Rush', 4),
 ('Birdcage Casper', 4),
 ('Blackout Private', 4),
 ('Boogie Amelie', 4),
 ('Bound Cheaper', 4),
 ('Braveheart Human', 4),
 ('Bride Intrigue', 4),
 ('Bright Encounters', 4),
 ('Bringing Hysterical', 4),
 ('Brooklyn Desert', 4),
 ('Bull Shawshank', 4),
 ('Butch Panther', 4),
 ('Butterfly Chocolat', 4),
 ('Cabin Flash', 4),
 ('Campus Remember', 4),
 ('Candles Grapes', 4),
 ('Caribbean Liberty', 4),
 ('Carrie Bunch', 4),
 ('Casablanca Super', 4),
 ('Cassidy Wyoming', 4),
 ('Chainsaw Uptown', 4),
 ('Chance Resurrection', 4),
 ('Chariots Conspiracy', 4),
 ('Chinatown Gladiator', 4),
 ('Chocolat Harry', 4),
 ('Cleopatra Devil', 4),
 ('Closer Bang', 4),
 ('Clue Grail', 4),
 ('Clyde Theory', 4),
 ('Coast Rainbow', 4),
 ('Coldblooded Darling', 4),
 ('Comancheros Enemy', 4),
 ('Coneheads Smoochy', 4),
 ('Confessions Maguire', 4),
 ('Congeniality Quest', 4),
 ('Conversation Downhill', 4),
 ('Cowboy Doom', 4),
 ('Creatures Shakespeare', 4),
 ('Crusade Honey', 4),
 ('Curtain Videotape', 4),
 ('Cyclone Family', 4),
 ('Daddy Pittsburgh', 4),
 ('Dalmations Sweden', 4),
 ('Dancing Fever', 4),
 ('Dares Pluto', 4),
 ('Dawn Pond', 4),
 ('Day Unfaithful', 4),
 ('Deep Crusade', 4),
 ('Deer Virginian', 4),
 ('Deliverance Mulholland', 4),
 ('Detective Vision', 4),
 ('Devil Desire', 4),
 ('Diary Panic', 4),
 ('Dinosaur Secretary', 4),
 ('Divide Monster', 4),
 ('Divorce Shining', 4),
 ('Doctor Grail', 4),
 ('Dolls Rage', 4),
 ('Doors President', 4),
 ('Dorado Notting', 4),
 ('Doubtfire Labyrinth', 4),
 ('Dozen Lion', 4),
 ('Drifter Commandments', 4),
 ('Dude Blindness', 4),
 ('Dying Maker', 4),
 ('Earring Instinct', 4),
 ('Edge Kissing', 4),
 ('Element Freddy', 4),
 ('Encounters Curtain', 4),
 ('Enemy Odds', 4),
 ('Enough Raging', 4),
 ('Entrapment Satisfaction', 4),
 ('Evolution Alter', 4),
 ('Express Lonely', 4),
 ('Fever Empire', 4),
 ('Fiddler Lost', 4),
 ('Fidelity Devil', 4),
 ('Finding Anaconda', 4),
 ('Firehouse Vietnam', 4),
 ('Flamingos Connecticut', 4),
 ('Flight Lies', 4),
 ('Flintstones Happiness', 4),
 ('Flying Hook', 4),
 ('Frontier Cabin', 4),
 ('Full Flatliners', 4),
 ('Gaslight Crusade', 4),
 ('Gleaming Jawbreaker', 4),
 ('Gosford Donnie', 4),
 ('Graffiti Love', 4),
 ('Grapes Fury', 4),
 ('Groove Fiction', 4),
 ('Grosse Wonderful', 4),
 ('Hanky October', 4),
 ('Harper Dying', 4),
 ('Heartbreakers Bright', 4),
 ('Hills Neighbors', 4),
 ('Hobbit Alien', 4),
 ('Holiday Games', 4),
 ('Homicide Peach', 4),
 ('Hunting Musketeers', 4),
 ('Hustler Party', 4),
 ('Ice Crossing', 4),
 ('Idaho Love', 4),
 ('Inch Jet', 4),
 ('Independence Hotel', 4),
 ('Insider Arizona', 4),
 ('Instinct Airport', 4),
 ('Intrigue Worst', 4),
 ('Jade Bunch', 4),
 ('Jaws Harry', 4),
 ('Jeepers Wedding', 4),
 ('Jekyll Frogmen', 4),
 ('Jumanji Blade', 4),
 ('Kane Exorcist', 4),
 ('Lady Stage', 4),
 ('League Hellfighters', 4),
 ('Leathernecks Dwarfs', 4),
 ('Lesson Cleopatra', 4),
 ('Liaisons Sweet', 4),
 ('Lights Deer', 4),
 ('Loverboy Attacks', 4),
 ('Luck Opus', 4),
 ('Lust Lock', 4),
 ('Magic Mallrats', 4),
 ('Magnolia Forrester', 4),
 ('Maguire Apache', 4),
 ('Maltese Hope', 4),
 ('Married Go', 4),
 ('Mars Roman', 4),
 ('Mask Peach', 4),
 ('Masked Bubble', 4),
 ('Matrix Snowman', 4),
 ('Menagerie Rushmore', 4),
 ('Mermaid Insects', 4),
 ('Microcosmos Paradise', 4),
 ('Mine Titans', 4),
 ('Mod Secretary', 4),
 ('Monsoon Cause', 4),
 ('Moonshine Cabin', 4),
 ('Mulholland Beast', 4),
 ('Music Boondock', 4),
 ('Name Detective', 4),
 ('Nash Chocolat', 4),
 ('National Story', 4),
 ('Necklace Outbreak', 4),
 ('Nightmare Chill', 4),
 ('Odds Boogie', 4),
 ('Oleander Clue', 4),
 ('Orient Closer', 4),
 ('Panic Club', 4),
 ('Panky Submarine', 4),
 ('Park Citizen', 4),
 ('Patriot Roman', 4),
 ('Perfect Groove', 4),
 ('Pinocchio Simon', 4),
 ('Pirates Roxanne', 4),
 ('Pity Bound', 4),
 ('Potluck Mixed', 4),
 ('Prejudice Oleander', 4),
 ('Princess Giant', 4),
 ('Private Drop', 4),
 ('Punk Divorce', 4),
 ('Purple Movie', 4),
 ('Queen Luke', 4),
 ('Raging Airplane', 4),
 ('Reap Unfaithful', 4),
 ('Reds Pocus', 4),
 ('Right Cranes', 4),
 ('Rings Heartbreakers', 4),
 ('Robbers Joon', 4),
 ('Robbery Bright', 4),
 ('Rollercoaster Bringing', 4),
 ('Room Roman', 4),
 ('Run Pacific', 4),
 ('Rush Goodfellas', 4),
 ('Sabrina Midnight', 4),
 ('Santa Paris', 4),
 ('Sassy Packer', 4),
 ('Scarface Bang', 4),
 ('Scorpion Apollo', 4),
 ('Searchers Wait', 4),
 ('Shakespeare Saddle', 4),
 ('Shepherd Midsummer', 4),
 ('Shining Roses', 4),
 ('Sierra Divide', 4),
 ('Sleeping Suspects', 4),
 ('Sleepy Japanese', 4),
 ('Sleuth Orient', 4),
 ('Slipper Fidelity', 4),
 ('Snatch Slipper', 4),
 ('Snowman Rollercoaster', 4),
 ('Soup Wisdom', 4),
 ('Spiking Element', 4),
 ('Spinal Rocky', 4),
 ('Spy Mile', 4),
 ('Steers Armageddon', 4),
 ('Sting Personal', 4),
 ('Stranger Strangers', 4),
 ('Strangers Graffiti', 4),
 ('Submarine Bed', 4),
 ('Suicides Silence', 4),
 ('Sun Confessions', 4),
 ('Superfly Trip', 4),
 ('Suspects Quills', 4),
 ('Swarm Gold', 4),
 ('Sweden Shining', 4),
 ('Tadpole Park', 4),
 ('Taxi Kick', 4),
 ('Tequila Past', 4),
 ('Ties Hunger', 4),
 ('Tomorrow Hustler', 4),
 ('Towers Hurricane', 4),
 ('Tramp Others', 4),
 ('Trojan Tomorrow', 4),
 ('Truman Crazy', 4),
 ('Unfaithful Kill', 4),
 ('Valentine Vanishing', 4),
 ('Valley Packer', 4),
 ('Varsity Trip', 4),
 ('Voice Peach', 4),
 ('Volume House', 4),
 ('Wait Cider', 4),
 ('Window Side', 4),
 ('Wizard Coldblooded', 4),
 ('Women Dorado', 4),
 ('Words Hunter', 4),
 ('Worker Tarzan', 4),
 ('Wyoming Storm', 4),
 ('Yentl Idaho', 4),
 ('Zoolander Fiction', 4),
 ('Zorro Ark', 4),
 ('Duck Racer', 3),
 ('Joon Northwest', 3),
 ('Academy Dinosaur', 3),
 ('Arsenic Independence', 3),
 ('Lebowski Soldiers', 3),
 ('Legend Jedi', 3),
 ('Ark Ridgemont', 3),
 ('Thin Sagebrush', 3),
 ('Downhill Enough', 3),
 ('Witches Panic', 3),
 ('Lola Agent', 3),
 ('Lonely Elephant', 3),
 ('Divine Resurrection', 3),
 ('Lose Inch', 3),
 ('Loser Hustler', 3),
 ('Disciple Mother', 3),
 ('Destiny Saturday', 3),
 ('Lover Truman', 3),
 ('Tights Dawn', 3),
 ('Luke Mummy', 3),
 ('Titanic Boondock', 3),
 ('Madre Gables', 3),
 ('Desperate Trainspotting', 3),
 ('Wrong Behavior', 3),
 ('Desire Alien', 3),
 ('Tootsie Pilot', 3),
 ('Manchurian Curtain', 3),
 ('Mannequin Worst', 3),
 ('Torque Bound', 3),
 ('Massacre Usual', 3),
 ('Arabia Dogma', 3),
 ('Memento Zoolander', 3),
 ('Trading Pinocchio', 3),
 ('Traffic Hobbit', 3),
 ('Metal Armageddon', 3),
 ('Midsummer Groundhog', 3),
 ('Mighty Luck', 3),
 ('Trainspotting Strangers', 3),
 ('Deceiver Betrayed', 3),
 ('Miracle Virtual', 3),
 ('Mission Zoolander', 3),
 ('Mixed Doors', 3),
 ('Mockingbird Hollywood', 3),
 ('Youth Kick', 3),
 ('Money Harold', 3),
 ('Darling Breaking', 3),
 ('Montezuma Command', 3),
 ('Daisy Menagerie', 3),
 ('Trap Guys', 3),
 ('Crystal Breaking', 3),
 ('Cruelty Unforgiven', 3),
 ('Crowds Telemark', 3),
 ('Mulan Moon', 3),
 ('Murder Antitrust', 3),
 ('Antitrust Tomatoes', 3),
 ('Crooked Frogmen', 3),
 ('Mussolini Spoilers', 3),
 ('Trip Newton', 3),
 ('Won Dares', 3),
 ('Troopers Metal', 3),
 ('Network Peak', 3),
 ('Conquerer Nuts', 3),
 ('None Spiking', 3),
 ('Noon Papi', 3),
 ('North Tequila', 3),
 ('Notorious Reunion', 3),
 ('Confidential Interview', 3),
 ('Turn Star', 3),
 ('Angels Life', 3),
 ('Open African', 3),
 ('Command Darling', 3),
 ('Opposite Necklace', 3),
 ('Opus Ice', 3),
 ('Order Betrayed', 3),
 ('Others Soup', 3),
 ('Color Philadelphia', 3),
 ('Pacific Amistad', 3),
 ('Clueless Bucket', 3),
 ('Tycoon Gathering', 3),
 ('Paris Weekend', 3),
 ('Amistad Midsummer', 3),
 ('Paths Control', 3),
 ('Undefeated Dalmations', 3),
 ('Citizen Shrek', 3),
 ('Circus Youth', 3),
 ('Peak Forever', 3),
 ('Pearl Destiny', 3),
 ('Pelican Comforts', 3),
 ('Personal Ladybugs', 3),
 ('Christmas Moonshine', 3),
 ('Philadelphia Wife', 3),
 ('Pianist Outfield', 3),
 ('Chocolate Duck', 3),
 ('American Circus', 3),
 ('Pluto Oleander', 3),
 ('Chaplin License', 3),
 ('Champion Flatliners', 3),
 ('Uprising Uptown', 3),
 ('Amadeus Holy', 3),
 ('President Bang', 3),
 ('Pride Alamo', 3),
 ('Catch Amistad', 3),
 ('Psycho Shrunk', 3),
 ('Pulp Beverly', 3),
 ('Wonka Sea', 3),
 ('Quest Mussolini', 3),
 ('Casper Dragonfly', 3),
 ('Candidate Perdition', 3),
 ('Vanished Garden', 3),
 ('Rear Trading', 3),
 ('Rebel Airport', 3),
 ('Redemption Comforts', 3),
 ('Vanishing Rocky', 3),
 ('California Birds', 3),
 ('Remember Diary', 3),
 ('Requiem Tycoon', 3),
 ('Bulworth Commandments', 3),
 ('Young Language', 3),
 ('Alley Evolution', 3),
 ('Bugsy Song', 3),
 ('Rock Instinct', 3),
 ('Videotape Arsenic', 3),
 ('Roman Punk', 3),
 ('Vietnam Smoochy', 3),
 ('Roses Treasure', 3),
 ('Rouge Squad', 3),
 ('Bowfinger Gables', 3),
 ('Alien Center', 3),
 ('Rushmore Mermaid', 3),
 ('Virginian Pluto', 3),
 ('Sagebrush Clueless', 3),
 ('Saints Bride', 3),
 ('Salute Apollo', 3),
 ('Borrowers Bedazzled', 3),
 ('Vision Torque', 3),
 ('Saturn Name', 3),
 ('Blood Argonauts', 3),
 ('Seabiscuit Punk', 3),
 ('World Leathernecks', 3),
 ('Blanket Beverly', 3),
 ('Secrets Paradise', 3),
 ('Sensibility Rear', 3),
 ('Voyage Legally', 3),
 ('Shane Darkness', 3),
 ('Shanghai Tycoon', 3),
 ('Bird Independence', 3),
 ('Worst Banger', 3),
 ('Ship Wonderland', 3),
 ('Shock Cabin', 3),
 ('Shrunk Divine', 3),
 ('Siege Madre', 3),
 ('Bingo Talented', 3),
 ('Simon North', 3),
 ('Bikini Borrowers', 3),
 ('Aladdin Calendar', 3),
 ('Sleepless Monsoon', 3),
 ('War Notting', 3),
 ('Sling Luke', 3),
 ('Wardrobe Phantom', 3),
 ('Smoochy Control', 3),
 ('Warlock Werewolf', 3),
 ('Barefoot Manchurian', 3),
 ('Spartacus Cheaper', 3),
 ('Speakeasy Date', 3),
 ('Barbarella Streetcar', 3),
 ('Watch Tracy', 3),
 ('Spirited Casualties', 3),
 ('Badman Dawn', 3),
 ('Spoilers Hellfighters', 3),
 ('Waterfront Deliverance', 3),
 ('Stage World', 3),
 ('Stallion Sundance', 3),
 ('Stampede Disturbing', 3),
 ('Star Operation', 3),
 ('Steel Santa', 3),
 ('Stepmom Dream', 3),
 ('Storm Happiness', 3),
 ('Story Side', 3),
 ('Weekend Personal', 3),
 ('Fugitive Maguire', 3),
 ('Gables Metropolis', 3),
 ('Galaxy Sweethearts', 3),
 ('Gangs Pride', 3),
 ('Frida Slipper', 3),
 ('Ghostbusters Elf', 3),
 ('Gilbert Pelican', 3),
 ('Gladiator Westward', 3),
 ('Freaky Pocus', 3),
 ('Streetcar Intentions', 3),
 ('Glory Tracy', 3),
 ('Godfather Diary', 3),
 ('Forever Candidate', 3),
 ('Goodfellas Salute', 3),
 ('Flatliners Killer', 3),
 ('Greatest North', 3),
 ('Grit Clockwork', 3),
 ('Westward Seabiscuit', 3),
 ('Groundhog Uncut', 3),
 ('Feud Frogmen', 3),
 ('Ferris Mother', 3),
 ('Half Outfield', 3),
 ('Handicap Boondock', 3),
 ('Hanover Galaxy', 3),
 ('Fargo Gandhi', 3),
 ('Hardly Robbers', 3),
 ('Fantasia Park', 3),
 ('Hate Handicap', 3),
 ('Haunting Pianist', 3),
 ('Sundance Invasion', 3),
 ('Heavyweights Beast', 3),
 ('Hellfighters Sierra', 3),
 ('High Encino', 3),
 ('Highball Potter', 3),
 ('Hocus Frida', 3),
 ('Eyes Driving', 3),
 ('Extraordinary Conquerer', 3),
 ('Homeward Cider', 3),
 ('Hook Chariots', 3),
 ('Expendable Stallion', 3),
 ('Hope Tootsie', 3),
 ('Horn Working', 3),
 ('Expecations Natural', 3),
 ('Exorcist Sting', 3),
 ('Hours Rage', 3),
 ('Human Graffiti', 3),
 ('Hunchback Impossible', 3),
 ('Hunger Roof', 3),
 ('Excitement Eve', 3),
 ('Hyde Doctor', 3),
 ('Hysterical Grail', 3),
 ('Willow Tracy', 3),
 ('Artist Coldblooded', 3),
 ('Identity Lover', 3),
 ('Idols Snatchers', 3),
 ('English Bulworth', 3),
 ('Image Princess', 3),
 ('Sweethearts Suspects', 3),
 ('Informer Double', 3),
 ('Elizabeth Shane', 3),
 ('Interview Liaisons', 3),
 ('Elf Murder', 3),
 ('Elephant Trojan', 3),
 ('Egypt Tenenbaums', 3),
 ('Egg Igby', 3),
 ('Dwarfs Alter', 3),
 ('Jason Trap', 3),
 ('Jedi Beneath', 3),
 ('Temple Attraction', 3),
 ('Jeopardy Encino', 3),
 ('Jericho Mulan', 3),
 ('Dumbo Lust', 3),
 ('Jet Neighbors', 3),
 ('Tenenbaums Command', 3),
 ('Jungle Closer', 3),
 ('Wisdom Worker', 3),
 ('Karate Moon', 3),
 ('Drop Waterfront', 3),
 ('Kick Savannah', 3),
 ('Killer Innocent', 3),
 ('King Evolution', 3),
 ('Kissing Dolls', 3),
 ('Knock Warlock', 3),
 ('Dream Pickup', 3),
 ('Lawless Vision', 3),
 ('Rocketeer Mother', 2),
 ('Brotherhood Blanket', 2),
 ('Drumline Cyclone', 2),
 ('Giant Troopers', 2),
 ('Holes Brannigan', 2),
 ('Breaking Home', 2),
 ('Gilmore Boiled', 2),
 ('Roots Remember', 2),
 ('Driving Polish', 2),
 ('Super Wyoming', 2),
 ('Hollow Jeopardy', 2),
 ('Driver Annie', 2),
 ('Roxanne Rebel', 2),
 ('Rugrats Shakespeare', 2),
 ('Brannigan Sunrise', 2),
 ('Kwai Homeward', 2),
 ('Labyrinth League', 2),
 ('Terminator Club', 2),
 ('Ladybugs Armageddon', 2),
 ('Lambs Cincinatti', 2),
 ('Language Cowboy', 2),
 ('Villain Desperate', 2),
 ('Hollywood Anonymous', 2),
 ('Texas Watch', 2),
 ('Boulevard Mob', 2),
 ('Adaptation Holes', 2),
 ('Dragon Squad', 2),
 ('Frankenstein Stranger', 2),
 ('Telemark Heartbreakers', 2),
 ('Saddle Antitrust', 2),
 ('Liberty Magnificent', 2),
 ('License Weekend', 2),
 ('Lies Treatment', 2),
 ('Gold River', 2),
 ('Goldfinger Sensibility', 2),
 ('Lion Uncut', 2),
 ('Loathing Legally', 2),
 ('Lock Rear', 2),
 ('Forrest Sons', 2),
 ('Lolita World', 2),
 ('Home Pity', 2),
 ('Ali Forever', 2),
 ('Eve Resurrection', 2),
 ('Boiled Dares', 2),
 ('Blues Instinct', 2),
 ('Louisiana Harry', 2),
 ('Dirty Ace', 2),
 ('Gorgeous Bingo', 2),
 ('Strictly Scarface', 2),
 ('Scalawag Duck', 2),
 ('Timberland Sky', 2),
 ('Lucky Flying', 2),
 ('Affair Prejudice', 2),
 ('Blindness Gun', 2),
 ('Madigan Dorado', 2),
 ('Madison Trap', 2),
 ('Madness Attacks', 2),
 ('Scissorhands Slums', 2),
 ('Titans Jerk', 2),
 ('Alaska Phantom', 2),
 ('Tomatoes Hellfighters', 2),
 ('Sea Virgin', 2),
 ('Maiden Home', 2),
 ('Majestic Floats', 2),
 ('Floats Garden', 2),
 ('Malkovich Pet', 2),
 ('Mallrats United', 2),
 ('Whisperer Giant', 2),
 ('West Lion', 2),
 ('Birds Perdition', 2),
 ('Secretary Rouge', 2),
 ('Argonauts Town', 2),

In [25]:
%%sql

-- Summarizing count of rental records by year and month

with base_calcs as (
    select DATE_PART('year',rental_date) as rental_year
    , DATE_PART('month',rental_date) as rental_month
    , DATE_PART('year',rental_date) || '-' || DATE_PART('month',rental_date) as rental_year_month
    , (DATE_PART('day',return_date) - DATE_PART('day',rental_date)) as days_rented
    , rental_id
    from rental
    where 1=1
    )
select rental_year
, rental_year_month
, count(distinct rental_id) as num_rentals
from base_calcs
where 1=1
group by 1,2
order by 2 asc

 * postgresql://postgres:***@localhost:5432/dvdrental
5 rows affected.

[(2005.0, '2005-5', 1156),
 (2005.0, '2005-6', 2311),
 (2005.0, '2005-7', 6709),
 (2005.0, '2005-8', 5686),
 (2006.0, '2006-2', 182)]

In [21]:
%%sql

select rental_date
, date(rental_date)
, count(distinct rental_id) as num_rentals
from rental
where 1=1
group by 1,2
order by 1 asc

 * postgresql://postgres:***@localhost:5432/dvdrental
15815 rows affected.

[(datetime.datetime(2005, 5, 24, 22, 53, 30), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 24, 22, 54, 33), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 24, 23, 3, 39), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 24, 23, 4, 41), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 24, 23, 5, 21), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 24, 23, 8, 7), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 24, 23, 11, 53), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 24, 23, 31, 46), datetime.date(2005, 5, 24), 1),
 (datetime.datetime(2005, 5, 25, 0, 0, 40), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 0, 2, 21), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 0, 9, 2), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 0, 19, 27), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 0, 22, 55), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 0, 31, 15), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 0, 39, 22), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 0, 43, 11), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 1, 6, 36), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 1, 10, 47), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 1, 17, 24), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 1, 48, 41), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 1, 59, 46), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 2, 19, 23), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 2, 40, 21), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 2, 53, 2), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 3, 21, 20), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 3, 36, 50), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 3, 41, 50), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 3, 42, 37), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 3, 47, 12), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 1, 32), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 5, 17), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 6, 21), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 18, 51), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 19, 28), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 24, 36), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 36, 26), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 44, 31), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 47, 44), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 4, 51, 46), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 5, 9, 4), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 5, 12, 29), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 5, 24, 58), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 5, 39, 25), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 5, 53, 23), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 5, 59, 39), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 6, 4, 8), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 6, 5, 20), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 6, 20, 46), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 6, 39, 35), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 6, 44, 53), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 6, 49, 10), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 6, 51, 29), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 7, 19, 16), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 7, 23, 25), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 8, 26, 13), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 8, 28, 11), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 8, 43, 32), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 8, 53, 14), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 8, 56, 42), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 8, 58, 25), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 1, 57), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 18, 52), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 19, 16), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 21, 29), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 32, 3), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 35, 12), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 41, 1), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 9, 47, 31), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 10, 10, 14), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 10, 15, 23), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 10, 26, 39), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 10, 52, 13), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 11, 0, 7), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 11, 9, 48), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 11, 13, 34), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 11, 30, 37), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 11, 31, 59), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 11, 35, 18), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 12, 11, 7), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 12, 12, 7), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 12, 15, 19), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 12, 17, 46), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 12, 30, 15), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 12, 36, 30), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 13, 5, 34), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 13, 36, 12), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 13, 52, 43), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 14, 13, 54), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 14, 28, 29), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 14, 31, 25), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 14, 57, 22), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 15, 38, 46), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 15, 54, 16), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 16, 3, 42), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 16, 12, 52), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 16, 32, 19), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 16, 34, 24), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 16, 48, 24), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 16, 50, 20), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 16, 50, 28), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 17, 17, 4), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 17, 22, 10), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 17, 30, 42), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 17, 46, 33), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 17, 54, 12), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 18, 18, 19), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 18, 28, 9), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 18, 30, 5), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 18, 40, 20), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 18, 43, 49), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 18, 45, 19), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 18, 57, 24), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 7, 40), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 12, 42), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 13, 25), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 27, 51), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 30, 46), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 31, 18), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 37, 2), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 37, 47), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 41, 29), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 19, 46, 21), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 20, 26, 42), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 20, 46, 11), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 20, 48, 50), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 7, 59), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 10, 40), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 19, 53), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 20, 3), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 21, 56), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 42, 46), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 46, 54), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 48, 30), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 48, 41), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 21, 58, 58), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 22, 2, 30), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 22, 25, 18), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 22, 48, 22), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 23, 0, 21), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 23, 34, 22), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 23, 34, 53), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 23, 43, 47), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 23, 45, 52), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 23, 49, 56), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 25, 23, 59, 3), datetime.date(2005, 5, 25), 1),
 (datetime.datetime(2005, 5, 26, 0, 7, 11), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 17, 50), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 25, 23), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 28, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 28, 39), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 37, 28), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 41, 10), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 47, 47), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 0, 55, 56), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 1, 15, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 1, 19, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 1, 25, 21), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 1, 27, 11), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 1, 34, 28), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 1, 46, 20), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 1, 51, 48), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 2, 2, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 2, 26, 23), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 2, 26, 49), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 2, 28, 36), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 2, 49, 11), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 2, 50, 31), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 7, 43), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 9, 30), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 11, 12), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 14, 15), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 17, 42), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 42, 10), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 44, 10), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 46, 26), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 3, 47, 39), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 4, 14, 29), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 4, 21, 46), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 4, 26, 6), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 4, 46, 23), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 4, 47, 6), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 4, 49, 17), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 5, 1, 18), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 5, 29, 49), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 5, 30, 3), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 5, 32, 52), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 5, 42, 37), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 5, 47, 12), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 1, 41), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 11, 28), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 14, 6), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 20, 37), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 41, 48), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 52, 33), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 52, 36), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 55, 58), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 6, 59, 21), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 3, 49), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 11, 58), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 12, 21), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 13, 45), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 27, 36), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 27, 57), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 30, 37), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 7, 59, 37), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 1, 54), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 4, 38), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 10, 22), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 14, 1), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 14, 15), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 33, 10), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 34, 41), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 44, 8), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 8, 48, 49), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 9, 2, 47), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 9, 17, 43), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 9, 24, 26), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 9, 27, 9), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 9, 41, 45), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 6, 49), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 14, 9), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 14, 38), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 15, 23), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 18, 27), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 27, 50), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 44, 4), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 51, 46), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 10, 54, 28), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 19, 20), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 31, 50), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 31, 59), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 38, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 43, 44), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 47, 20), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 51, 9), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 11, 53, 49), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 12, 15, 13), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 12, 30, 22), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 12, 30, 26), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 12, 40, 23), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 12, 49, 1), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 13, 5, 8), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 13, 6, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 13, 40, 40), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 13, 46, 59), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 13, 57, 7), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 1, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 7, 58), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 19, 9), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 30, 24), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 35, 40), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 39, 53), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 43, 14), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 43, 48), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 14, 52, 15), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 15, 20, 58), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 15, 27, 5), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 15, 28, 14), datetime.date(2005, 5, 26), 1),
 (datetime.datetime(2005, 5, 26, 15, 32, 46), datetime.date(2005, 5, 26), 1),